.Xauthority
.bash_history
.cache/
.config/
.dbus/
.emacs.d/.#recentf
.emacs.d/auto-save-list/
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/emacs.desktop
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.gitconfig
.gtkrc-2.0
.local/
.nix-channels
.nix-defexpr/
.nix-profile
.saves/
.ssh/
.vim/
.viminfo
.zcompdump
Desktop/
result
